html,
body {
  height: 100%;
}

/* changes the background of each page to a custom one */
.ownBackground {
    /* background-image: url(./../Images/dark_theme_background.jpg); */
    flex: 1 0 auto;
    padding: 15px;
    min-height: 100vh;
}

/* changes letterspacing for the brand on the navbar */
#nameTextSpace {
    letter-spacing: 3px;
}

/* background of the containers throughout the portfolio */
.well {
    background-color: rgba(54, 54, 54, 0.767);
}

/* my attempt to center certain containers */
.col-centered {
  float: none;
  margin: 0
}

/* create a desired space at the end of each body (before the footer)  */
#pseudoClass {
  flex-shrink: 0;
  text-align: center;
}

/* customize the space inside the image container in the carousel to keep it from resizing */
.carousel-item img {
  max-height: 220px !important;
  max-width: auto;
}

#customTextOnCard p {
  font-size: 12px;
}

.nounderline:hover {
  text-decoration: none;

}

.formButton {
  margin: 12px 0;
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;

}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

footer a {
  margin: 0 5px;
}